.header{
    height: 60px;
    margin-top: 0;
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: var(--primary);
    border-radius: 20px;
    box-shadow: var(--shadow-around);
    padding: 5px max(15vw, 150px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100vw;
    max-width: 1600px;
    box-sizing: border-box;

}
.right{
    display: flex;
}
.menu{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}
.menu:hover{
    background-color: var(--primary-light);
}
.right span{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}
.right span:hover{
    background-color: var(--primary-light);
}
.right span img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}


@media screen and (max-width:700px) {
    .header{
        width: 100vw!important;
        height: 60px;
        margin: 0;
        position: fixed;
        top: 0;
        right: 0;
        padding: 5px 20px;
        border-radius: 0 0 5px 5px;
    }
    
}