.orders{
    width: 100%;
    padding: 3vw;
    max-width: 100vw;
}
.ordersheader {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.tablewrapper{
  width: 100%;
  overflow: hidden;
}
.ordersheader  > div select {
  padding: 7px;
  border: 2px solid var(--primary);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  height: 40px;
  margin: 10px;
  border-radius: 20px;
  outline: none;
}
.ordersheader > div select option {
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
