.App {
  display: flex;
  overflow-x: hidden;
}
.container {
  flex: 1;
  margin-top: 60px;
  margin-left: 230px;
}

.MuiPaper-root {
  background-color: var(--bg-secondary) !important;
  color: var(--text) !important;
}

.sidebar {
  position: absolute;
  transition: all 1s;
}
.sidebar.halfopen ~ .container{
  margin-left: 80px;
}
.sidebar.close ~ .container{
  margin-left: 0;
}
/* 
@media screen and (min-width: 1000px) {
  .container {
    margin-left: 250px !important;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    margin-left: 80px !important;
  }
}

@media screen and (max-width: 700px) {
  .container {
    margin-left: 0px !important;
  }
  .sidebar {
    width: 0 !important;
    box-sizing: border-box;
    overflow: hidden;
  }
} */
